/*
 * Base structure
 */
 
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: Century; 
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
    border: 0;
    display: block;
    background-color: #ffffff;
}

.container-fluid {
    padding: 0px;
}

#navbar-header {
    margin-top: 10px;
    width: 100%;
    background-color: #8CBED6;
    text-align: center;
}

#navbar-header h1 {
    font-size: 42pt;
}

#navbar-user-info{
    width: 100%;
    background-color: #428bca;
}

#navbar-user-info {
    text-align: right;
    color: #ffffff;
    font-size: 12pt;
    word-spacing: 10px;
    letter-spacing: 3px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 150px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: #428bca;
}
.nav-sidebar > li > a {
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20pt;
}

/*
 * Main content
 */

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main h2.page-header {
    margin: 0px 0px 10px 0px;
    text-align: center; 
    font-size: 28pt;
}

.main .container-fluid {
    font-size: 13pt;
}