/*
 * Placeholder dashboard ideas
 */

.main .placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.main .placeholders h4 {
    margin-bottom: 0;
}
.main .placeholder {
    margin-bottom: 20px;
}
.main .placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Button styling
 */
.main .btn-group {
    width: 100%;
    height: 100%;
}

.main button {
    width: 100%;
    height: 100%;
    white-space: normal;
}

.main button img {
    display: block;
    max-width:50px;
    max-height:100px;
    width: auto;
    height: auto;
}

.main .temperature-item {
    
    font-size: 20pt; 
    text-align: left;
}

/*
 * Global add-ons
 */

.main .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
