table{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: Century;
    font-size: 20pt;
}

tr:nth-child(even){
    background-color: #8CBED6;

}